.App {
  text-align: center;
  height: 100vh;
  background-color: black;
  color: white;
}

.App-header-container {
  font-size: xx-large;
  display: flex;
  flex-direction: row;
  margin: 15px 0 10px 0;
}

.App-header {
  text-align: left;
  opacity: 0.66;
  text-decoration: underline overline #505050;
}

.App-header-icon {
  background-image: url("../public/icon.png");
  width: 25px;
  height: 34px;
  background-size: cover;
  border-style: solid;
  border-color: #505050;
  float: left;
  margin-left: 25px;
  border-width: 2px;
}
.App-organisation {
  color: aquamarine;
}

.App-name {
  color: wheat;
}

.App-link {
  color: #61dafb;
}

.Layout {
  height: 100%;
}

.spacer {
  width: 130px;
}

.latlon-input {
  color: #a8a8a8;
  float: right;
}

.latlon-input-text {
  height: 20px;
  margin-bottom:5px;
  background-color: #a8a8a8
}